

.project-details{
    max-width: 865px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.project-details__cover{
    max-width: 100%;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
}
.project-details__desc{
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 30px;
}
.btn-outline{
    display: flex;
    column-gap: 10px;
    align-items: center;
    border-radius: 5px;
    padding: 12px 20px;
    border: 1px solid var(--blackpure);
    color: var(--blackpure);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    transition: opacity 0.2s ease-in;
    background-color: var(--white)
    
}
.btn-outline:hover{
    opacity: 0.8;
}
.btn-outline:active{
    position: relative;
    top: 1px;
}
@media (max-width: 620px) {
    .project-details__desc {
        margin-bottom: 20px;
        font-size: 22px;
    }
}